@{
    Layout =  "_InnerLayout";
    ViewData["Title"] = "Meu usuário";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Bem vindo @Model.Email!</h2>
    
    <h4>Histórico de login</h4>
    
<table class="table">
    <thead>
        <tr>
            <th>
                Data/hora
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LoginHistories) {
        <tr>
            <td>
                @item.LoginDateTime
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
</html>