@{
    Layout =  "_InnerLayout";
    ViewData["Title"] = "Meu usuário";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Bem vindo @Model.Email!</h2>
    
    <h4>Histórico de login</h4>
</div>
</body>
</html>