@model Buffet.Models.Buffet.Evento.EventoEntity

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h1>Evento</h1>
<div>
    <a asp-action="Index"><i class="fa fa-arrow-left btn btn-outline-dark"></i></a>
</div>

<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6 pr-1">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control"/>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 pl-1 pr-1">
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label">Início</label>
                <input asp-for="HoraInicio" type="datetime-local" class="form-control"/>
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 pl-1">
            <div class="form-group">
                <label asp-for="HoraTermino" class="control-label">Término</label>
                <input asp-for="HoraTermino" class="form-control"/>
                <span asp-validation-for="HoraTermino" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label">Observações</label>
                <textarea asp-for="Observacoes" class="form-control"></textarea>
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-outline-dark"/>
    </div>
</form>