<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - iFeast</title>
    <link rel="icon" href="~/img/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="outer">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-brand box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="mr-2" src="~/img/logo.png" alt="feast icon" height="32" width="32">
                iFeast
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item ml-auto">
                        <a class="btn btn-outline-light btn-login" asp-area="" asp-controller="Acesso" asp-action="Login">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer bg-brand">
    <div class="container">
        &copy; 2021 • iFeast • <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a> •
        <a asp-area="" asp-controller="Home" asp-action="Eula">Termos de Uso</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>