@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-md-center v-center">
    <div>
            <div class="text-center">
                <div class="card non-opaque">
                  <div class="card-body">
                    <h5 class="card-title">Termos de uso</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel mauris ut arcu aliquet eleifend porta eget orci. Donec condimentum purus eu mauris elementum rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin in ultrices magna. Quisque dui ligula, fringilla at elit ut, feugiat dapibus justo. Nullam sit amet posuere risus. Suspendisse molestie pretium nisi, ut sollicitudin sem pulvinar maximus. Nulla quis iaculis magna. Aliquam sagittis leo felis. Aliquam pharetra sit amet turpis eget blandit. Etiam placerat placerat lorem id eleifend. In auctor dui ac velit lobortis congue. </p>
                      <p class="card-text"> In et nisl eget purus blandit mollis. Morbi eleifend, enim id luctus convallis, sapien erat dignissim massa, eu egestas erat lectus non justo. Aenean tincidunt pharetra turpis eu malesuada. In hac habitasse platea dictumst. Praesent sodales sem at orci interdum faucibus. Sed at pharetra nisl. Phasellus porttitor tortor neque, a tempor risus malesuada quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc congue nunc vel aliquam scelerisque. Nunc et libero ligula. Nulla nec leo sagittis, semper lectus non, egestas neque. Donec commodo auctor augue ut porttitor. Phasellus placerat neque interdum neque tincidunt dignissim. </p>
                      <p class="card-text"> Nunc vulputate neque ac tellus luctus, semper maximus purus interdum. Proin ultrices, urna blandit tempor dapibus, urna elit pharetra augue, ac commodo nunc libero eget enim. Vivamus sed dolor sit amet dolor accumsan venenatis. Maecenas consectetur lacus sit amet ipsum viverra feugiat. Vivamus sit amet diam malesuada, placerat augue tempor, efficitur mauris. Curabitur at fringilla est, et elementum lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eu odio efficitur, mollis augue vitae, fringilla erat. Donec eu luctus velit. </p>
                  </div>
                </div>
            </div>
    </div>
</div>