@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-md-center v-center">
    <div>
            <div class="text-center">
                <div class="card non-opaque">
                  <div class="card-body">
                    <h5 class="card-title">Privacy</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel mauris ut arcu aliquet eleifend porta eget orci. Donec condimentum purus eu mauris elementum rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin in ultrices magna. Quisque dui ligula, fringilla at elit ut, feugiat dapibus justo. Nullam sit amet posuere risus. Suspendisse molestie pretium nisi, ut sollicitudin sem pulvinar maximus. Nulla quis iaculis magna. Aliquam sagittis leo felis. Aliquam pharetra sit amet turpis eget blandit. Etiam placerat placerat lorem id eleifend. In auctor dui ac velit lobortis congue. </p>
                      <p class="card-text"> Vivamus tempus auctor rhoncus. Vivamus odio nulla, fringilla ac turpis eget, consectetur lacinia mauris. Nulla elit sem, porta sit amet rhoncus sed, facilisis in velit. Maecenas lacinia facilisis sem, ut pulvinar nisi convallis at. Nulla tortor justo, placerat sed lacus at, molestie consequat nibh. Maecenas volutpat sed neque non consectetur. Nullam ac varius diam. Etiam commodo molestie purus. Donec scelerisque et leo sit amet placerat. Mauris interdum vulputate nisi. Sed faucibus eget leo vel suscipit. Pellentesque at consequat nibh. </p>
                      <p class="card-text"> Pellentesque lobortis urna quis velit lobortis, eu porttitor orci rhoncus. Mauris rutrum sit amet lectus dignissim laoreet. Morbi eu quam egestas, luctus arcu at, aliquet ex. Quisque eleifend laoreet elit sit amet consequat. Suspendisse at cursus quam. Suspendisse ac ullamcorper diam, eu auctor ex. Morbi sapien metus, pellentesque non blandit quis, ullamcorper non metus. Etiam nec fringilla risus. Mauris sed odio orci. Curabitur scelerisque ornare risus et placerat. Fusce justo sapien, gravida sed finibus sit amet, auctor in tortor. Aliquam eu felis vestibulum, posuere arcu et, tincidunt ex. Duis et mauris erat. In diam magna, ullamcorper nec congue vitae, vestibulum non odio. </p>
                  </div>
                </div>
            </div>
    </div>
</div>