@model Buffet.Models.Buffet.Cliente.ClienteEntity

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h1>Cliente</h1>
<div>
    <a asp-action="Index"><i class="fa fa-arrow-left btn btn-outline-dark"></i></a>
</div>

<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-4 pr-1">
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 pl-1 pr-1">
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label">Nascimento</label>
                <input asp-for="DataNascimento" type="date" class="form-control"/>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 pl-1 pr-1">
            <div class="form-group">
                <label asp-for="TipoClienteId" class="control-label">Tipo de cliente</label>
                <select asp-for="TipoClienteId" class ="custom-select" asp-items="ViewBag.TipoClienteId"></select>
            </div>
        </div>
        <div class="col-md-3 pl-1" id="cCpf">
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control"/>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 pl-1" style="display: none" id="cCnpj">
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label">CNPJ</label>
                <input asp-for="Cnpj" class="form-control"/>
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-4 pr-1">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-8 pl-1">
            <div class="form-group">
                <label asp-for="Endereco" class="control-label">Endereço</label>
                <input asp-for="Endereco" class="form-control"/>
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label">Observações</label>
                <textarea asp-for="Observacoes" class="form-control"></textarea>
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-outline-dark"/>
    </div>
</form>

<script>
    document.querySelector("#TipoClienteId").addEventListener("change", function () {
        let tipoCliente = document.querySelector("#TipoClienteId").value;
        if (tipoCliente === "1") {
            document.querySelector("#cCnpj").style.display = "none";
            document.querySelector("#cCpf").style.display = "block";
        }
        if (tipoCliente === "2") {
            document.querySelector("#cCnpj").style.display = "block";
            document.querySelector("#cCpf").style.display = "none";
        }
    });
</script>