@model Buffet.ViewModels.Acesso.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-md-center v-center">
    <div>
            <div class="">
                <div class="card non-opaque">
                  <div class="card-body">
                      <h5 class="card-title text-center">@ViewData["Title"]</h5>
                      <form method="POST" action="/Acesso/Login">
                          @if (Model.Mensagem != null)
                          {
                              <div class="alert alert-success" role="alert">
                                  @Model.Mensagem
                              </div>
                          }
                          @if (Model.Erro != null)
                          {
                              <div class="alert alert-danger" role="alert">
                                  @Model.Erro
                              </div>
                          }
                          <div class="form-group">
                              <label for="userEmail">Email</label>
                              <input type="email" class="form-control" id="userEmail" name="userEmail" aria-describedby="emailHelp">
                              <small id="emailHelp" class="form-text text-muted">Nós nunca compartilhamos essa informação com terceiros.</small>
                          </div>

                          <div class="form-group">
                              <label for="userPasswd">Senha</label> <a class="small" asp-area="" asp-controller="Acesso" asp-action="ForgotPassword">(Esqueci minha senha)</a>
                              <input type="password" class="form-control" id="userPasswd" name="userPasswd">
                          </div>

                          <div class="form-check form-group">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Lembrar meu login</label>
                          </div>

                          <div class="form-group">
                              <p>Ainda não é cliente? <a asp-area="" asp-controller="Acesso" asp-action="CreateAccount">Criar conta</a></p>
                          </div>
                          <input type="submit" value="Entrar" class="btn btn-primary ml-auto">
                          @* <a asp-area="" asp-controller="Inner" asp-action="Start" class="btn btn-primary ml-auto">Entrar</a> *@
                      </form>
                  </div>
                </div>
            </div>
    </div>
</div>